<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update a movie</title>
</head>
<body>
<div th:if="${selectedMovie.getTitle() != null}">
    <form th:action="@{/updateMovie}" th:object="${selectedMovie}" method="post">
        <div>Title: </div>
        <div th:text="*{title}"></div>
        <input type="hidden" th:field="*{title}">
        <div>Genre: </div>
        <input type="text" th:field="*{genre}"><br>
        <div>Playtime: </div>
        <input type="number" th:field="*{playtime}"><br>
        <button type="submit" value="Save" class="btn btn-success">Update</button>
    </form>
</div>
<div th:if="${selectedMovie.getTitle() == null}">
    <form th:action="@{/saveNewMovie}" th:object="${selectedMovie}" method="post">
        <div>Title: </div>
        <input type="text" th:field="*{title}" value=""><br>
        <div>Genre: </div>
        <input type="text" th:field="*{genre}"><br>
        <div>Playtime: </div>
        <input type="number" th:field="*{playtime}"><br>
        <button type="submit" value="Save" class="btn btn-success">Save</button>
    </form>
</div>

</form>
</body>
</html>